<plist>
<dict>

	<key>Id</key>
	<dict>
		<key>game_name</key>
		<string>game_name</string>
		<key>game_package</key>
		<string>game_package</string>
		<key>feed_heading</key>
		<string>feed_heading</string>
		<key>feed_caption</key>
		<string>feed_caption</string>
		<key>feed_msg</key>
		<string>feed_msg</string>
		<key>feed_description</key>
		<string>feed_description</string>
		<key>feed_badge_icon</key>
		<string>feed_badge_icon</string>
		<key>feed_deep_link</key>
		<string>feed_deep_link</string>
		<key>feed_error_caption</key>
		<string>feed_error_caption</string>
		<key>feed_error</key>
		<string>feed_error</string>
		<key>tut_content</key>
		<string>tut_content</string>
		<key>tut_mission</key>
		<string>tut_mission</string>
		<key>lose_score</key>
		<string>lose_score</string>
		<key>lose_lack_diamond</key>
		<string>lose_lack_diamond</string>
		<key>lose_error_caption</key>
		<string>lose_error_caption</string>
		<key>menu_thank_rate</key>
		<string>menu_thank_rate</string>
		<key>menu_thank_caption</key>
		<string>menu_thank_caption</string>
		<key>menu_error_server</key>
		<string>menu_error_server</string>
		<key>menu_error_caption</key>
		<string>menu_error_caption</string>
		<key>fb_logout_ask</key>
		<string>fb_logout_ask</string>
		<key>quit_ask</key>
		<string>quit_ask</string>
		<key>score_invite_to_facebook</key>
		<string>score_invite_to_facebook</string>
		<key>score_no_gift</key>
		<string>score_no_gift</string>
		<key>score_server_error</key>
		<string>score_server_error</string>
		<key>score_invite_friend</key>
		<string>score_invite_friend</string>
		<key>score_limit_lazer</key>
		<string>score_limit_lazer</string>
		<key>score_popup_caption</key>
		<string>score_popup_caption</string>
		<key>score_send_life_msg</key>
		<string>score_send_life_msg</string>
		<key>score_get</key>
		<string>score_get</string>
		<key>score_lack_diamond</key>
		<string>score_lack_diamond</string>
		<key>score_send_life</key>
		<string>score_send_life</string>
		<key>wait_lack_of_life</key>
		<string>wait_lack_of_life</string>
		<key>btn_ask_friend</key>
		<string>btn_ask_friend</string>
		<key>btn_start</key>
		<string>btn_start</string>
		<key>btn_exit</key>
		<string>btn_exit</string>
		<key>btn_revive</key>
		<string>btn_revive</string>
		<key>btn_end</key>
		<string>btn_end</string>
		<key>btn_no</key>
		<string>btn_no</string>
		<key>btn_yes</key>
		<string>btn_yes</string>
		<key>btn_gift</key>
		<string>btn_gift</string>
		<key>btn_restart</key>
		<string>btn_restart</string>
		<key>btn_resume</key>
		<string>btn_resume</string>
		<key>btn_share</key>
		<string>btn_share</string>
		<key>btn_leaderboard</key>
		<string>btn_leaderboard</string>
		<key>rate_msg</key>
		<string>rate_msg</string>
		<key>rate_rate</key>
		<string>rate_rate</string>
		<key>rate_later</key>
		<string>rate_later</string>
		<key>rate_no</key>
		<string>rate_no</string>
		<key>charge_close</key>
		<string>charge_close</string>
		<key>charge_caption</key>
		<string>charge_caption</string>
		<key>charge_link</key>
		<string>charge_link</string>
		<key>try_login</key>
		<string>try_login</string>
		<key>try_play_test</key>
		<string>try_play_test</string>
		<key>vendor</key>
		<string>vendor</string>
		<key>wait_connect_server</key>
		<string>wait_connect_server</string>
		<key>buy_revive_error</key>
		<string>buy_revive_error</string>
		<key>error_caption</key>
		<string>error_caption</string>
		<key>buy_revive</key>
		<string>buy_revive</string>
		<key>get_laze_free_error</key>
		<string>get_laze_free_error</string>
	</dict>

	<key>English</key>
	<dict>
		<key>game_name</key>
		<string>LineBacker</string>
		<key>game_package</key>
		<string>com.chimgokien.phicongbutchi</string>
		<key>feed_heading</key>
		<string>Line Backer -- the best shoot them up game in 2014</string>
		<key>feed_caption</key>
		<string>Challenge your friends</string>
		<key>feed_msg</key>
		<string>I've got %d pts in Line Backer, follow me is %s. Kaka :v</string>
		<key>feed_description</key>
		<string>Live in the legend of 12-days </string>
		<key>feed_badge_icon</key>
		<string>https://dl.dropboxusercontent.com/u/41829250/DienBienPhuTrenKhong/DienBienPhuTrenKhong.jpg</string>
		<key>feed_deep_link</key>
		<string>https://play.google.com/store/apps/details?id=com.chimgokien.phicongbutchi</string>
		<key>feed_error_caption</key>
		<string>Error</string>
		<key>feed_error</key>
		<string>Failed to share</string>
		<key>tut_content</key>
		<string>...1972, The final operation, LineBacker II was conducted throughout 12 days to destroy major target complexes which could only be accomplished by B-52s...</string>
		<key>tut_mission</key>
		<string>Do not miss more than 3 B-52 bombers !!!</string>
		<key>lose_score</key>
		<string>Score</string>
		<key>lose_lack_diamond</key>
		<string>You do not have enough diamond!</string>
		<key>lose_error_caption</key>
		<string>Information</string>
		<key>menu_thank_rate</key>
		<string>Thank you!</string>
		<key>menu_thank_caption</key>
		<string>Information</string>
		<key>menu_error_server</key>
		<string>Failed to connect to server</string>
		<key>menu_error_caption</key>
		<string>Error</string>
		<key>fb_logout_ask</key>
		<string>Do you want to disconnect Facebook? </string>
		<key>quit_ask</key>
		<string>Do you want to exit? </string>
		<key>score_invite_to_facebook</key>
		<string>Connect  facebook for more friends, more gifts!</string>
		<key>score_no_gift</key>
		<string>You have no gift. Invite your friends to play LineBacker to get more every day!</string>
		<key>score_server_error</key>
		<string>Failed to connect to server</string>
		<key>score_invite_friend</key>
		<string>%s is fighting to shoot down enemie planes in Line Backer. Come in to help your friend now!</string>
		<key>score_limit_lazer</key>
		<string>Max lazer is %d</string>
		<key>score_popup_caption</key>
		<string>Information</string>
		<key>score_send_life_msg</key>
		<string>Give you 1 life</string>
		<key>score_get</key>
		<string>Get</string>
		<key>score_lack_diamond</key>
		<string>You do not have enough diamond!</string>
		<key>score_send_life</key>
		<string>Send</string>
		<key>wait_lack_of_life</key>
		<string>You do not have enough live. Please wait !</string>
		<key>btn_ask_friend</key>
		<string>Request</string>
		<key>btn_start</key>
		<string>Take off</string>
		<key>btn_exit</key>
		<string>Exit</string>
		<key>btn_revive</key>
		<string>Revive</string>
		<key>btn_end</key>
		<string>End game</string>
		<key>btn_no</key>
		<string>No</string>
		<key>btn_yes</key>
		<string>Yes</string>
		<key>btn_gift</key>
		<string>Gift</string>
		<key>btn_restart</key>
		<string>Restart</string>
		<key>btn_resume</key>
		<string>Resume</string>
		<key>btn_share</key>
		<string>Share</string>
		<key>btn_leaderboard</key>
		<string>Ranking</string>
		<key>rate_msg</key>
		<string>Rate 5 stars for LineBacker!</string>
		<key>rate_rate</key>
		<string>Rate</string>
		<key>rate_later</key>
		<string>Remind me later</string>
		<key>rate_no</key>
		<string>No, thanks</string>
		<key>charge_close</key>
		<string>Close</string>
		<key>charge_caption</key>
		<string>Charge diamond tutorial</string>
		<key>charge_link</key>
		<string>https://www.google.com.vn</string>
		<key>try_login</key>
		<string>Log In</string>
		<key>try_play_test</key>
		<string>Guest mode</string>
		<key>vendor</key>
		<string>CGK Studio</string>
		<key>wait_connect_server</key>
		<string>Connecting server...</string>
		<key>buy_revive_error</key>
		<string>Failed to buy revive item</string>
		<key>error_caption</key>
		<string>Error</string>
		<key>buy_revive</key>
		<string>Buy revive item...</string>
		<key>get_laze_free_error</key>
		<string>Get free laze failed</string>
	</dict>

	<key>Vietnamese</key>
	<dict>
		<key>game_name</key>
		<string>Điện Biên Phủ trên không</string>
		<key>game_package</key>
		<string>com.chimgokien.phicongbutchi</string>
		<key>feed_heading</key>
		<string>Điện Biên Phủ trên không -- Game bắn máy bay hot nhất 2014</string>
		<key>feed_caption</key>
		<string>Thử thách cùng bạn bè</string>
		<key>feed_msg</key>
		<string>Ta vừa đạt %d điểm trong game Điện Biên Phủ trên không, vượt qua %s. Kaka :v</string>
		<key>feed_description</key>
		<string>Cùng sống lại những giây phút hào hùng của dân tộc trong chiến thắng vẻ vang của "12 ngày đêm". Thử thách cùng bạn bè, vượt lên bảng xếp hạng. Click ngay để tải!</string>
		<key>feed_badge_icon</key>
		<string>https://dl.dropboxusercontent.com/u/41829250/DienBienPhuTrenKhong/DienBienPhuTrenKhong.jpg</string>
		<key>feed_deep_link</key>
		<string>https://play.google.com/store/apps/details?id=com.chimgokien.phicongbutchi</string>
		<key>feed_error_caption</key>
		<string>Lỗi</string>
		<key>feed_error</key>
		<string>Không thể chia sẻ</string>
		<key>tut_content</key>
		<string>...1972, Chiến dịch cuối cùng của địch mang tên LineBacker II đã diễn ra liên tục suốt 12 ngày với trọng tâm là các cuộc ném bom của B-52 vào các thành phố Hà Nội, Hải Phòng...</string>
		<key>tut_mission</key>
		<string>Không được để lọt lưới trên 3 chiếc B-52 !!!</string>
		<key>lose_score</key>
		<string>Điểm</string>
		<key>lose_lack_diamond</key>
		<string>Bạn không đủ số kim cương!</string>
		<key>lose_error_caption</key>
		<string>Thông tin</string>
		<key>menu_thank_rate</key>
		<string>Cảm ơn bạn!</string>
		<key>menu_thank_caption</key>
		<string>Thông tin</string>
		<key>menu_error_server</key>
		<string>Không thể kết nối máy chủ</string>
		<key>menu_error_caption</key>
		<string>Lỗi</string>
		<key>fb_logout_ask</key>
		<string>Bạn có muốn ngắt kết nối Facebook!</string>
		<key>quit_ask</key>
		<string>Bạn có muốn thoát game!</string>
		<key>score_invite_to_facebook</key>
		<string>Liên kết Facebook để thêm bạn, thêm quà!</string>
		<key>score_no_gift</key>
		<string>Bạn không có quà nào cả. Hãy kết nối với bạn bè để có đầy quà mỗi ngày nhé!</string>
		<key>score_server_error</key>
		<string>Không thể kết nối máy chủ</string>
		<key>score_invite_friend</key>
		<string>%s đang tả xung hữu đột tiêu diệt máy bay địch trong Điện Biên Phủ trên không. Hãy cùng tham chiến nào.</string>
		<key>score_limit_lazer</key>
		<string>Chỉ được giữ tối đa %d lazer</string>
		<key>score_popup_caption</key>
		<string>Thông tin</string>
		<key>score_send_life_msg</key>
		<string>Cho bạn 1 mạng nè!</string>
		<key>score_get</key>
		<string>Nhận</string>
		<key>score_lack_diamond</key>
		<string>Bạn không đủ số kim cương!</string>
		<key>score_send_life</key>
		<string>Gửi</string>
		<key>wait_lack_of_life</key>
		<string>Bạn không đủ số mạng. Hãy chờ thêm!</string>
		<key>btn_ask_friend</key>
		<string>Xin bạn</string>
		<key>btn_start</key>
		<string>Cất cánh</string>
		<key>btn_exit</key>
		<string>Thoát</string>
		<key>btn_revive</key>
		<string>Hồi sinh</string>
		<key>btn_end</key>
		<string>Kết thúc</string>
		<key>btn_no</key>
		<string>Không</string>
		<key>btn_yes</key>
		<string>Có</string>
		<key>btn_gift</key>
		<string>Quà tặng</string>
		<key>btn_restart</key>
		<string>Chơi lại</string>
		<key>btn_resume</key>
		<string>Tiếp tục</string>
		<key>btn_share</key>
		<string>Chia sẻ</string>
		<key>btn_leaderboard</key>
		<string>Xếp hạng</string>
		<key>rate_msg</key>
		<string>Bình chọn Điện Biên Phủ trên không 5 sao nhé!</string>
		<key>rate_rate</key>
		<string>Rate</string>
		<key>rate_later</key>
		<string>Để sau</string>
		<key>rate_no</key>
		<string>Không, cảm ơn</string>
		<key>charge_close</key>
		<string>Đóng</string>
		<key>charge_caption</key>
		<string>Hướng dẫn nạp kim cương</string>
		<key>charge_link</key>
		<string>https://www.google.com.vn</string>
		<key>try_login</key>
		<string>Đăng nhập</string>
		<key>try_play_test</key>
		<string>Chơi thử</string>
		<key>vendor</key>
		<string>CGK Studio</string>
		<key>wait_connect_server</key>
		<string>Đang kết nối máy chủ...</string>
		<key>buy_revive_error</key>
		<string>Không thể mua hồi sinh</string>
		<key>error_caption</key>
		<string>Lỗi</string>
		<key>buy_revive</key>
		<string>Mua hồi sinh</string>
		<key>get_laze_free_error</key>
		<string>Không thể nhận quà</string>
	</dict>

</dict>
</plist>
