<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,327},{8,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,17}}</string>
			<key>sourceSize</key>
			<string>{8,17}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,654},{8,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,17}}</string>
			<key>sourceSize</key>
			<string>{8,17}</string>
		</dict>
		<key>enemy_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,949},{73,52}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{73,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>enemy_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,949},{74,57}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{74,57}}</string>
			<key>sourceSize</key>
			<string>{74,64}</string>
		</dict>
		<key>enemy_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,949},{74,61}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{74,61}}</string>
			<key>sourceSize</key>
			<string>{74,64}</string>
		</dict>
		<key>enemy_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,735},{103,130}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,130}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>enemy_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,327},{108,134}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{108,134}}</string>
			<key>sourceSize</key>
			<string>{109,136}</string>
		</dict>
		<key>enemy_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,599},{103,135}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,135}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>enemy_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,866},{102,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{102,128}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>enemy_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,462},{103,136}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{103,136}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>enemy_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,327},{325,283}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{325,283}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,327},{326,284}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{326,284}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,654},{325,285}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{325,285}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,654},{324,283}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{324,283}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,0},{326,291}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{326,291}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,327},{326,289}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{326,289}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,654},{327,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{327,294}}</string>
			<key>sourceSize</key>
			<string>{328,294}</string>
		</dict>
		<key>enemy_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{394,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,38},{394,277}}</string>
			<key>sourceSize</key>
			<string>{394,353}</string>
		</dict>
		<key>explosion_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,0},{336,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,237}}</string>
			<key>sourceSize</key>
			<string>{336,237}</string>
		</dict>
		<key>item_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,238},{87,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,149}}</string>
			<key>sourceSize</key>
			<string>{87,149}</string>
		</dict>
		<key>item_upgrade_bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,238},{87,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,128}}</string>
			<key>sourceSize</key>
			<string>{87,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainGame_1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>MainGame_1.png</string>
	</dict>
</dict>
</plist>
