<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G_URL_FRIEND_LIST</key>
	<string>192.168.0.114:8025/friend</string>
	<key>G_URL_GET_LAZER</key>
	<string>192.168.0.114:8025/getlazer</string>
	<key>G_URL_PLAYER_FB_PROFILE</key>
	<string>192.168.0.114:8025/profile</string>
	<key>G_URL_DEVICE_PROFILE</key>
	<string>192.168.0.114:8025/device</string>
	<key>G_URL_SCORE</key>
	<string>192.168.0.114:8025/score</string>
	<key>G_URL_REVIVE</key>
	<string>192.168.0.114:8025/revive</string>
	<key>G_URL_ITEM</key>
	<string>192.168.0.114:8025/item</string>
	<key>G_URL_GIFT_SEND_ITEM</key>
	<string>192.168.0.114:8025/gift/send_inbox</string>
	<key>G_URL_GIFT_GET_INBOX</key>
	<string>192.168.0.114:8025/gift/get_inbox</string>
	<key>G_URL_GIFT_REMOVE_ITEM</key>
	<string>192.168.0.114:8025/gift/remove_inbox</string>
	<key>G_URL_RATE</key>
	<string>https://play.google.com/store/apps/details?id=com.chimgokien.phicongbutchi</string>
	<key>G_MAX_PLAYER_BULLET_LEVEL</key>
	<string>2</string>
	<key>G_ITEM_ARMOR_RANDOM_PERCENT</key>
	<string>0.07</string>
	<key>G_SCALE_FACTOR</key>
	<string>0.55</string>
	<key>G_ITEM_BOOM_RANDOM_PERCENT</key>
	<string>0.07</string>
	<key>G_PLAYER_HP</key>
	<string>1</string>
	<key>G_IS_MONEYTIZE</key>
	<string>true</string>
	<key>G_TIME_TO_GENERATE_ITEM</key>
	<string>30</string>
	<key>G_DAMAGE_IN_DIFFICULTY</key>
	<string>200</string>
	<key>G_ENEMY_TIME_TO_FIRE</key>
	<string>0</string>
	<key>G_BULLET_VY_FROM_ENEMY</key>
	<string>1.5</string>
	<key>G_ENEMY_1_SCORE</key>
	<string>1000</string>
	<key>G_VELOCITY_IN_DIFFICULTY</key>
	<string>2000</string>
	<key>G_PLAYER_LAZER_TIME</key>
	<string>3.0</string>
	<key>G_DIAMON_PER_LIFE</key>
	<string>20</string>
	<key>G_PLAYER_TIME_TO_REVIVE</key>
	<string>600</string>
	<key>G_PLAYER_DAMAGE</key>
	<string>1</string>
	<key>G_WAIT_TO_REVIVE</key>
	<string>5</string>
	<key>G_PLAYER_BULLET_VY</key>
	<string>3.0</string>
	<key>G_MIN_PLAYER_BULLET_LEVEL</key>
	<string>1</string>
	<key>G_DEFAULT_TIME_TO_GENERATE_ENEMY</key>
	<string>1.0</string>
	<key>G_TIME_TO_REFRESH_FRIENDS</key>
	<string>86400</string>
	<key>G_MAX_PLAYER_LIFE</key>
	<string>5</string>
	<key>G_HP_IN_DIFFICULTY</key>
	<string>200</string>
	<key>G_DEFAULT_DIAMON</key>
	<string>0</string>
	<key>G_ENEMY_2_SCORE</key>
	<string>6000</string>
	<key>G_ENEMY_1_PERCENT</key>
	<string>0.85</string>
	<key>G_MIN_ENEMY_VY</key>
	<string>-0.09</string>
	<key>G_MAX_BOOM</key>
	<string>10</string>
	<key>G_MIN_ENEMY_BULLET_VY</key>
	<string>-0.4</string>
	<key>G_ITEM_BULLET_RANDOM_PERCENT</key>
	<string>0.07</string>
	<key>G_MAX_PLAYER_BOOM</key>
	<string>3</string>
	<key>G_DESIGN_HEIGHT</key>
	<string>1280</string>
	<key>G_PLAYER_TIME_TO_FIRE</key>
	<string>0.15</string>
	<key>G_ENEMY_2_PERCENT</key>
	<string>0.1</string>
	<key>G_ENEMY_3_SCORE</key>
	<string>30000</string>
	<key>G_MIN_ENEMY_HP</key>
	<string>1</string>
	<key>G_MIN_ENEMY_DAM</key>
	<string>1</string>
	<key>G_ENEMY_3_PERCENT</key>
	<string>0.05</string>
	<key>G_IS_ENCODE</key>
	<string>true</string>
	<key>G_TIMEOUT_BULLET_LEVEL</key>
	<string>20.0</string>
	<key>G_DEFAULT_DIFFICULTY</key>
	<string>1.0</string>
	<key>G_DIAMON_TO_GET_BOOM_NOW</key>
	<string>1</string>
	<key>G_POINTS_PER_SECOND</key>
	<string>10</string>
	<key>G_DEFAULT_BOOM</key>
	<string>3</string>
	<key>G_MAX_ENEMY_VY</key>
	<string>-0.05</string>
	<key>G_PLAYER_ARMOR_TIME</key>
	<string>10.0</string>
	<key>G_DESIGN_WIDTH</key>
	<string>800</string>
</dict>
</plist>
