<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,942},{74,56}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{74,56}}</string>
			<key>sourceSize</key>
			<string>{74,68}</string>
		</dict>
		<key>enemy_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,942},{74,56}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{74,56}}</string>
			<key>sourceSize</key>
			<string>{74,68}</string>
		</dict>
		<key>enemy_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,942},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,68}}</string>
			<key>sourceSize</key>
			<string>{74,68}</string>
		</dict>
		<key>enemy_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,919},{104,127}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{104,127}}</string>
			<key>sourceSize</key>
			<string>{106,138}</string>
		</dict>
		<key>enemy_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,762},{106,137}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,137}}</string>
			<key>sourceSize</key>
			<string>{106,138}</string>
		</dict>
		<key>enemy_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,919},{104,136}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{104,136}}</string>
			<key>sourceSize</key>
			<string>{106,138}</string>
		</dict>
		<key>enemy_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,919},{102,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{102,136}}</string>
			<key>sourceSize</key>
			<string>{106,138}</string>
		</dict>
		<key>game_loading1.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,942},{69,53}}</string>
			<key>offset</key>
			<string>{-101,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{69,53}}</string>
			<key>sourceSize</key>
			<string>{270,55}</string>
		</dict>
		<key>game_loading2.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,762},{156,53}}</string>
			<key>offset</key>
			<string>{-50,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{156,53}}</string>
			<key>sourceSize</key>
			<string>{270,54}</string>
		</dict>
		<key>item_upgrade_bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,919},{87,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,128}}</string>
			<key>sourceSize</key>
			<string>{87,128}</string>
		</dict>
		<key>ship_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,762},{144,175}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,55},{144,175}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,221},{144,180}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,55},{144,180}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,402},{143,179}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,55},{143,179}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,582},{143,179}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,55},{143,179}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,762},{143,179}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,55},{143,179}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{167,220}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,8},{167,220}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainGame_2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>MainGame_2.png</string>
	</dict>
</dict>
</plist>
