<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,1013},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,1013},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>enemy_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,912},{96,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,68}}</string>
			<key>sourceSize</key>
			<string>{96,68}</string>
		</dict>
		<key>enemy_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,912},{96,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,68}}</string>
			<key>sourceSize</key>
			<string>{96,68}</string>
		</dict>
		<key>enemy_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,912},{96,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,68}}</string>
			<key>sourceSize</key>
			<string>{96,68}</string>
		</dict>
		<key>enemy_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,912},{92,87}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{92,87}}</string>
			<key>sourceSize</key>
			<string>{108,93}</string>
		</dict>
		<key>enemy_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,824},{126,122}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{126,122}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>enemy_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,456},{126,122}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{126,122}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>enemy_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,321},{126,122}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{126,122}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>enemy_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,684},{126,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,139}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>enemy_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,321},{127,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,139}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>enemy_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,456},{135,172}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{135,172}}</string>
			<key>sourceSize</key>
			<string>{144,189}</string>
		</dict>
		<key>enemy_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,684},{291,221}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,221}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,321},{291,221}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,221}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,0},{291,227}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,227}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,228},{291,227}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,227}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,456},{291,227}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,227}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,684},{291,227}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,227}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,684},{291,227}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{291,227}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,0},{285,230}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,230}}</string>
			<key>sourceSize</key>
			<string>{291,234}</string>
		</dict>
		<key>enemy_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{453,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,43},{453,320}}</string>
			<key>sourceSize</key>
			<string>{453,406}</string>
		</dict>
		<key>item_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,684},{86,173}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{86,173}}</string>
			<key>sourceSize</key>
			<string>{151,180}</string>
		</dict>
		<key>item_upgrade_bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,912},{100,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,147}}</string>
			<key>sourceSize</key>
			<string>{100,147}</string>
		</dict>
		<key>ship_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,456},{145,157}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{145,157}}</string>
			<key>sourceSize</key>
			<string>{148,160}</string>
		</dict>
		<key>ship_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,456},{145,157}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{145,157}}</string>
			<key>sourceSize</key>
			<string>{148,160}</string>
		</dict>
		<key>ship_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,286},{145,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{145,160}}</string>
			<key>sourceSize</key>
			<string>{148,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainGame_1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>MainGame_1.png</string>
	</dict>
</dict>
</plist>
