<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1012},{11,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,23}}</string>
			<key>sourceSize</key>
			<string>{11,23}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,1012},{11,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,23}}</string>
			<key>sourceSize</key>
			<string>{11,23}</string>
		</dict>
		<key>enemy_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,918},{104,137}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{106,138}</string>
		</dict>
		<key>enemy_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,0},{240,362}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{240,362}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,0},{240,358}}</string>
			<key>offset</key>
			<string>{3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{240,358}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,0},{238,369}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{238,369}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,371},{244,369}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{244,369}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,371},{243,369}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{243,369}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,371},{246,369}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{246,369}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,371},{240,370}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{240,370}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>enemy_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{242,370}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{242,370}}</string>
			<key>sourceSize</key>
			<string>{249,370}</string>
		</dict>
		<key>game_loading3.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,742},{255,53}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{255,53}}</string>
			<key>sourceSize</key>
			<string>{270,55}</string>
		</dict>
		<key>item_armor.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,742},{87,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,149}}</string>
			<key>sourceSize</key>
			<string>{87,149}</string>
		</dict>
		<key>item_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,830},{87,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,149}}</string>
			<key>sourceSize</key>
			<string>{87,149}</string>
		</dict>
		<key>ship_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,742},{174,228}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,7},{174,228}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,742},{170,231}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,15},{170,231}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,742},{269,230}}</string>
			<key>offset</key>
			<string>{0,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{269,230}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
		<key>ship_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,742},{274,238}}</string>
			<key>offset</key>
			<string>{-2,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,238}}</string>
			<key>sourceSize</key>
			<string>{278,261}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainGame_1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>MainGame_1.png</string>
	</dict>
</dict>
</plist>
